/*
Custom Css
*/

#templatemo_main_nav a.btn.btn-outline-success.me-2:hover{
    color: #69bb7e ;
    color: #fff ;
}
.image_footer{
    width: 40%;
}
.cart-title{
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}